* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

.test {
	transition: 0.4s opacity ease;
}

@media (min-resolution: 2dppx) {
    .image {
        background-image: url(image@2x.png);
    }
}